@media only screen and (max-width: 650px) {
    :root {
        --primary-text-color:hsl(200, 15%, 8%);
        --main-bg-color:hsl(0, 0%, 98%);
        --white:hsl(0, 0%, 100%);
        --secondory-bg-color:hsl(0, 0%, 100%);
        --margin-inline: 10px;
        --primary-shadow:rgb(181, 179, 179);
      }

      /* the following code is for header */
  header{
    background-color: var(--secondory-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0px 0px 50px ;
    width: 100%;
  }
    :root {
        --primary-text-color:hsl(200, 15%, 8%);
        --main-bg-color:hsl(0, 0%, 98%);
        --white:hsl(0, 0%, 100%);
        --secondory-bg-color:hsl(0, 0%, 100%);
        --margin-inline: 50px;
        --primary-shadow:rgb(181, 179, 179);
      }

      h1{
        font-size: 1.5rem;
      }
      .search-box{
        background-color: var(--secondory-bg-color);
        border-radius: 3px;
        margin-top: 30px;
        padding: 18px 80px 18px 20px;
        box-shadow: 0px 0px 50px var(--primary-shadow);
        gap: 10px;
        max-height: min-content;
        display: flex;
        
      }


    .search-filter {
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
    img{
        width :300px;
        height: 150px;
      }

      .country-box{
        max-width: 300px;
      }

      .country-container{
        justify-content: center;
      }


    
      
      
    
  }














  @media only screen and (max-width: 320px) {
    :root {
        --primary-text-color:hsl(200, 15%, 8%);
        --main-bg-color:hsl(0, 0%, 98%);
        --white:hsl(0, 0%, 100%);
        --secondory-bg-color:hsl(0, 0%, 100%);
        --margin-inline: 10px;
        --primary-shadow:rgb(181, 179, 179);
      }

    :root {
        --primary-text-color:hsl(200, 15%, 8%);
        --main-bg-color:hsl(0, 0%, 98%);
        --white:hsl(0, 0%, 100%);
        --secondory-bg-color:hsl(0, 0%, 100%);
        --margin-inline: 10px;
        --primary-shadow:rgb(181, 179, 179);
      }

      h1{
        font-size: 1rem;
      }
      .search-box{
        background-color: var(--secondory-bg-color);
        border-radius: 3px;
        margin-top: 30px;
        padding: 18px 50px 18px 20px;
        box-shadow: 0px 0px 50px var(--primary-shadow);
        gap: 10px;
        max-height: min-content;
        
      }
      img{
        width :230px;
        height: 130px;
      }

      .country-box{
        max-width: 230px;
      }


    
  }














  @media only screen and (max-width: 260px) {
    
    :root {
        --primary-text-color:hsl(200, 15%, 8%);
        --main-bg-color:hsl(0, 0%, 98%);
        --white:hsl(0, 0%, 100%);
        --secondory-bg-color:hsl(0, 0%, 100%);
        --margin-inline: 10px;
        --primary-shadow:rgb(181, 179, 179);
      }

    header{
        width: 100vw;
    }
      h1{
        font-size: 0.8rem;
      }
      .search-box{
        background-color: var(--secondory-bg-color);
        border-radius: 3px;
        margin-top: 30px;
        padding-block: 10px;
        box-shadow: 0px 0px 50px var(--primary-shadow);
        gap: 10px;
        max-width: 120%;
        max-height: min-content;
        overflow: hidden;
        padding-right: 20px;
      }

      img{
        width :230px;
        height: 130px;
      }

      .country-box{
        max-width: 230px;
      }



    
  }